API_VERSION=v1

DATABASE_PORT=5432
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_HOST=localhost
DATABASE_NAME="social-media-dashboard"
DATABASE_SYNC=true
DATABASE_AUTOLOAD=true

JWT_SECRET=""
JWT_TOKEN_AUDIENCE=""
JWT_TOKEN_ISSUER=""
JWT_ACCESS_TOKEN_TTL="" # amount in seconds
JWT_REFRESH_TOKEN_TTL="" # amount in seconds

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
