DATABASE_PORT=5432
DATABASE_USERNAME=database_username
DATABASE_PASSWORD=database_password
DATABASE_HOST=localhost
DATABASE_NAME="social-media-dashboard"
DATABASE_SYNC=true
DATABASE_AUTOLOAD=true

JWT_SECRET=jwt_secret
JWT_TOKEN_AUDIENCE=jwt_token_audience
JWT_TOKEN_ISSUER=jwt_token_audience
JWT_ACCESS_TOKEN_TTL="jwt_access_token_ttl" # amount in seconds
JWT_REFRESH_TOKEN_TTL="jwt_refresh_token_ttl" # amount in seconds

API_VERSION=v1
